<component-loading id="loading"></component-loading>
<div id="game">
  <h2>Which anime has more member?</h2>
  <h4>Score: {{ score }}</h4>
  <section class="game-section center">
    <div class="content" *ngFor="let anime of randomAnime; index as i; first as isFirst">
      <button id="button" (click)="chooseAnime(i)">More Member</button><br>
      <img [src]='anime["images"]["jpg"]["image_url"]' width="225" height="330" alt="anime image">
      <h2>{{ anime["title"] }}</h2>
      <h4>English: {{ anime["title_english"] }}</h4>
      <h4>Japanese: {{ anime["title_japanese"] }}</h4>
      <br>
      <h3>Type: {{ anime["type"] }}</h3>
    </div>
  </section>
</div>
