.vertical-center {
  top: 40%;
  left: 40%;
}

.game-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-section > div {
  padding: 2em;
}

.content {
  width: 500px;
  height: 500px;
}

.clickable-content {
  cursor: pointer;
}

.clickable-content:hover > img {
  box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

a {
  background: coral;
  padding: 0.5em 1em;
  color: #fff;
  box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  cursor: pointer;
}

a:hover {
  background: chocolate;
}
