.vertical-center {
  top: 40%;
  left: 40%;
}

.game-section {
  text-align: center;
  display: flex;
}

.game-section > div {
  padding: 1em;
}

h2 {
  text-align: center;
}

button {
  margin-bottom: 1em;
}
