<h1>Game Options</h1>

<form [formGroup]="options">
  <div class="selects">
    <label>Type: </label>
    <br>
    <select formControlName="types">
      <option *ngFor="let option of types" [value]="option.value">{{option.viewValue}}</option>
    </select>
  </div>

  <br>

  <div class="selects">
    <label>Numbers of Top
      <span *ngIf="options.controls.types.value == 'anime'">{{types[0].viewValue}}</span>
      <span *ngIf="options.controls.types.value == 'manga'">{{types[1].viewValue}}</span>:
    </label>
    <br>
    <select formControlName="limit">
      <option *ngFor="let option of limit" [value]="option.value">{{option.viewValue}}</option>
    </select>
  </div>

  <fieldset>
    <legend>Given Information</legend>

    <div class="checkboxes">
      <div>
        <input type="checkbox" formControlName="title">
        <label>Title</label>
      </div>
      <div>
        <input type="checkbox" formControlName="title_english">
        <label>Title English</label>
      </div>
      <div>
        <input type="checkbox" formControlName="type">
        <label>Type</label>
      </div>
      <div>
        <input type="checkbox" formControlName="episodes">
        <label *ngIf="options.controls.types.value == 'anime'">Episodes</label>
        <label *ngIf="options.controls.types.value == 'manga'">Volumes</label>
      </div>
    </div>
  </fieldset>
</form>

<h3>Highscores: </h3>
<ul>
  <li *ngFor="let score of highscores">{{score.score}} - {{score.username}}</li>
</ul>

<a (click)="start()">Start Game</a>
