<h1>Game Options</h1>

<form [formGroup]="options">
  <label>
    Type:
    <select formControlName="types">
      <option *ngFor="let option of types" [value]="option.value">{{option.viewValue}}</option>
    </select>
  </label>
  <br><br><br>
  <label>
    Numbers of Top
      <span *ngIf="options.controls.types.value == 'anime'">{{types[0].viewValue}}</span>
      <span *ngIf="options.controls.types.value == 'manga'">{{types[1].viewValue}}</span>:
    <select formControlName="limit">
      <option *ngFor="let option of limit" [value]="option.value">{{option.viewValue}}</option>
    </select>
  </label>
  <br><br><br>
  <fieldset>
    <legend>Given Information</legend>

    <div>
      <input type="checkbox" formControlName="title">
      <label>Title</label>
    </div>
    <div>
      <input type="checkbox" formControlName="title_english">
      <label>Title English</label>
    </div>
    <div>
      <input type="checkbox" formControlName="type">
      <label>Type</label>
    </div>
    <div>
      <input type="checkbox" formControlName="episodes">
      <label *ngIf="options.controls.types.value == 'anime'">Episodes</label>
      <label *ngIf="options.controls.types.value == 'manga'">Volumes</label>
    </div>
  </fieldset>
</form>

<a (click)="start()">Start Game</a>
