header {
  padding: 1em;
  background-color: var(--background-dark);
  border-bottom: 2px solid var(--border-dark);
  color: #fff;

  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1rem;
  }
}
