.game-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-section > div {
  padding: 1em;
}

.content {
  width: 400px;
  height: min-content;
}

.clickable-content {
  cursor: pointer;
}

img {
  object-fit: cover;
  border-radius: 12px;
}

img:hover {
  box-shadow: 0 12px 12px -7px #bdbdbd, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 18px;
  transition: 0.1s;
}
