<component-loading id="loading"></component-loading>
<app-options *ngIf="!options_loaded" (startClicked)="start($event)"></app-options>
<div id="game">
  <h2>Which anime has more viewer?</h2>
  <h4>Score: {{ game_data.score }}</h4>
  <section class="game-section center-basic">
    <div class="content" *ngFor="let entry of game_data.randomEntries; index as i; first as isFirst">
      <div>
        <img class="clickable-content" (click)="chooseAnime(i)" [src]='entry["images"]["jpg"]["image_url"]' width="225" height="330" alt="anime image">
        <h2><u>{{ entry["title"] }}</u></h2>
        <h4>English: {{ entry["title_english"] }}</h4>
        <h4>Japanese: {{ entry["title_japanese"] }}</h4>
        <br>
        <h3>Type: {{ entry["type"] }}</h3>
      </div>
    </div>
  </section>
</div>
<app-winning id="right" class="center" (continueClicked)="continue()"></app-winning>
<app-loosing id="loosing" class="center" (retryClicked)="retry()" [score]="game_data.score"></app-loosing>
