footer {
  background-color: var(--background-dark);
  padding: 15px 0;
  border-top: 2px solid var(--border-dark);
  font-size: 14px;
}

a {
  transition: 0.2s;
  margin: 0.5em;
  color: var(--background-dark-lighter);
}

a:hover {
  color: var(--border-dark);
}
