@import url("./assets/lib/css/normalize.css");

:root {
  --background-dark: #343a40;
  --border-dark: #4e575e;


  --footer-height: 25px;
}

* {
  text-align: center;
}

a, a:visited, a:link {
  color: #000;
  text-decoration: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-basic {
  margin-left: auto;
  margin-right: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
