a {
  display: inline-block;
  background: coral;
  padding: 0.5em 1em;
  color: #fff;
  box-shadow: 0 12px 12px -7px #bdbdbd, 5px 5px 15px 5px rgba(0,0,0,0);
  cursor: pointer;
  border-radius: 7px;
  transition: 0.1s;
}

form {
  margin-bottom: 1em;
}

a:hover {
  background: chocolate;
  border-radius: 12px;
}

fieldset {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

fieldset > div > div {
  text-align: left;
}

.checkboxes {
  display: inline-block;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

.selects {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 1.5em;
}

select {
  margin-top: 0.25em;
  min-width: 200px;
  background: transparent;
}
